@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl); */

  --color-background-foreground: var(--background-foreground);
  --color-primary-light: var(--primary-light);
  --color-secondary-border: var(--secondary-border);
  --color-primary-white: var(--primary-white);
  --color-pure-white: var(--pure-white);
  --color-pure-black: var(--pure-black);

  --color-black: var(--black);
  --color-dark-gray: var(--dark-gray);
  --color-gray: var(--gray);

  --breakpoint-xs: 480px;
  --breakpoint-xxs: 400px;
}

:root {
  --background: #ffffff;
  --foreground: #0f1419;
  --card: #e9ecf0;
  --card-foreground: #0f1419;
  --popover: #ffffff;
  --popover-foreground: #0f1419;
  --primary: #f85a16;
  --primary-foreground: #ffffff;
  --secondary: #4ac5b7;
  --secondary-foreground: #ffffff;
  --muted: #e5e5e6;
  --muted-foreground: #0f1419;
  --accent: #ffefe8;
  --accent-foreground: #f75a17;
  --destructive: #f4212e;
  --destructive-foreground: #ffffff;
  --border: #ced6da;
  --input: #ced8e2;
  --ring: #f85a16;
  --chart-1: #811aff;
  --chart-2: #00b87a;
  --chart-3: #f7b928;
  --chart-4: #17d36c;
  --chart-5: #e0245e;
  --sidebar: #f7f8f8;
  --sidebar-foreground: #0f1419;
  --sidebar-primary: #0063e6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e3ecf6;
  --sidebar-accent-foreground: #0063e6;
  --sidebar-border: #e1e8ed;
  --sidebar-ring: #0063e6;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --font-be-vietnam: 'Be Vietnam Pro', sans-serif;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  /* --tracking-normal: 0em;
  --spacing: 0.22rem; */

  --background-foreground: #f5f5f5;
  --primary-light: #ffefe8;
  --secondary-border: #abfff5;
  --primary-white: #f85a16;
  --pure-white: #494545;
  --pure-black: #000000;
  --dark-gray: #5b5857;
  --black: #17191c;
  --gray: #797777;
}

.dark {
  --background: #000000;
  --foreground: #e7e9ea;
  --card: #0c0d13;
  --card-foreground: #d9d9d9;
  --popover: oklch(0 0 0);
  --popover-foreground: #e7e9ea;
  --primary: #f85a16;
  --primary-foreground: #ffffff;
  --secondary: #5aa299;
  --secondary-foreground: #ffffff;
  --muted: #181818;
  --muted-foreground: #72767a;
  --accent: #1d0a02;
  --accent-foreground: #f85a16;
  --destructive: #f4212e;
  --destructive-foreground: #ffffff;
  --border: #242628;
  --input: #292929;
  --ring: #f85a16;
  --chart-1: #4b1ef1;
  --chart-2: #00b87a;
  --chart-3: #f7b928;
  --chart-4: #17bf63;
  --chart-5: #e0245e;
  --sidebar: #17181c;
  --sidebar-foreground: #d9d9d9;
  --sidebar-primary: #0063e6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #061622;
  --sidebar-accent-foreground: #0063e6;
  --sidebar-border: #38444d;
  --sidebar-ring: #0063e6;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);

  --background-foreground: #121212;
  --primary-light: rgba(248, 90, 22, 0.185);
  --secondary-border: #a4fff4;
  --primary-white: hsla(0, 0%, 100%, 1);
  --pure-white: hsla(0, 0%, 100%, 1);
  --pure-black: hsla(0, 0%, 0%, 1);

  --black: hsla(0, 0%, 100%, 1);
  --dark-gray: hsla(0, 0%, 82%, 1);
  --gray: hsla(0, 0%, 76%, 1);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }
}

@layer utilities {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  label {
    @apply text-black;
  }

  input {
    @apply text-dark-gray;
  }

  .main-layout::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .main-layout::-webkit-scrollbar-track {
    background: var(--white);
    border: 1px solid var(--white);
  }

  /* Handle */
  .main-layout::-webkit-scrollbar-thumb {
    background: var(--lavender-mist);
    width: 8px;
    border-radius: 6px;
  }

  /* Handle on hover */
  .main-layout::-webkit-scrollbar-thumb:hover {
    background: var(--pastel-violet);
  }

  .primary-btn {
    @apply bg-primary flex items-center gap-2 rounded-md px-4 py-2 text-sm font-medium text-white sm:text-base;
  }

  .page-title {
    @apply text-lg font-semibold text-black lg:text-xl;
  }

  .page-subtitle {
    @apply text-gray text-sm lg:text-sm;
  }

  .large-modal {
    @apply w-[90vw] sm:max-w-[80vw] md:max-w-[70vw] xl:max-w-[60vw] 2xl:max-w-[50vw];
  }

  .medium-modal {
    @apply w-[90vw] sm:max-w-[70vw] md:max-w-[60vw] xl:max-w-[50vw] 2xl:max-w-[40vw];
  }

  /* ======= scrollbar ======== */

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--white));
    border: 1px solid hsl(var(--white));
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--lavender-mist));
    width: 8px;
    border-radius: 6px;
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--pastel-violet));
  }
}

body {
  font-family: var(--font-be-vietnam);
  @apply bg-background;
}

.my-container {
  @apply mx-auto w-[95%] max-w-[1440px];
}

.html_render ul,
.html_render li {
  list-style-type: initial;
  list-style: initial;
  margin-left: 15px;
  line-height: 30px;
}

.html_render h1 {
  font-size: 2rem !important;
}
.html_render a,
.html_render a strong,
.html_render a h1,
.html_render a h3,
.html_render a h4,
.html_render a h5,
.html_render a h6,
.html_render a p,
.html_render a small,
.html_render a li,
.html_render a span {
  color: blue !important;
}
.html_render hr {
  margin: 1rem 0 !important;
}

.html_render h2 {
  font-size: 1.5rem !important;
}

.html_render h3 {
  font-size: 1.17rem !important;
}

.html_render h4 {
  font-size: 1rem !important;
}
.html_render strong {
  color: var(--black) !important;
}

.html_render h5 {
  font-size: 0.83rem !important;
}

.html_render h6 {
  font-size: 0.67rem !important;
}

.html_render p {
  font-size: 1rem !important;
}

.html_render span {
  color: var(--black) !important;
}

.html_render li {
  font-size: 1rem !important;
}

.html_render blockquote {
  font-size: 1.25rem !important;
}

.html_render pre,
.html_render code {
  font-size: 0.875rem !important;
}

.html_render small {
  font-size: 0.8rem !important;
}
